* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: #000;
  /*background-color: #110f15;*/
  height: 100%;
  width: 100%;
}
/*
html {
  height: 100%;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #edf1f3;
}
*/
h1, h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

//*************** Nav 4.0 *************/

.navbar{
  height: 90px;
  width: 100%;
  background-color: #1d322b;
  position: fixed;
  z-index: 10000;
}

.navbar > .navbar-head{
  display: inline;
}

.navbar > .navbar-head > .navbar-logo{
  display: inline-block;
  padding: 20px 20px 20px 20px;
}

.navbar > .navbar-head > .navbar-logo > .logo{
  text-decoration: none;
  font-size: 35px;
  color: #FFFAFA;
  letter-spacing: 5px;
  cursor: pointer;
}

.navbar > .navbar-head > .navbar-logo > .logo > i{
  color: #a96562;
}

.navbar > .navbar-button{
  display: none;
}

.navbar > .links-navbar{
  display: inline;
}

.navbar > .links-navbar{
  float: right;
}

.navbar > .links-navbar > a{
  display: inline-block;
  padding: 25px 30px 25px 20px;
  text-decoration: none;
  font-size: 20px;
  color: /*#1d322b*/ #FFFAFA;
  float: left;
}

.navbar > .links-navbar > a:hover{
  background: transparent;
  color: #ccb8a8;
}

.navbar > .links-navbar > a::before{
  content: '';
  display: block;
  height: 2px;
  background: #ccb8a8;
  position: relative;
  top: 25px;
  width: 0%;
  transition: all ease-in-out 200ms;
}

.navbar > .links-navbar > a:hover::before{
  width: 100%;
}

.navbar #navbar-check{
  display: none;
}

@media (max-width: 780px) {
  .navbar > .navbar-button{
    display: inline-block;
    position: absolute;
    left: 95%;
    top: 50%;
    transform: translate(-95%, -50%);
  }

  .navbar > .navbar-button > label{
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .navbar > .navbar-button > label:hover,
  .navbar #navbar-check:checked ~ .navbar-button > label{
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #ccb8a8;
  }

  .navbar > .navbar-button > label > span{
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #ccb8a8;
  }
  .navbar > .links-navbar{
    position: absolute;
    display: block;
    width: 100%;
    background-color: #1d322b;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 70px;
    left: 0px;
  }
  .navbar > .links-navbar > a{
    display: block;
    width: 100%;
    font-size: 22px;
    padding: 35px 50px 45px 30px;
    text-align: center;
    justify-content: center;
  }
  .navbar > #navbar-check:not(:checked) ~ .links-navbar{
    height: 0px;
  }
  .navbar > #navbar-check:checked ~ .links-navbar{
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/*************** End Nav 4.0 *************/
